<div class="reverb-npn-row" data-id="{{ id }}">
    <div class="reverb-npnr-left">
        <img src="/extensions/Reverb/resources/icons/{{ icon }}" class="reverb-icon" />
    </div>
    <div class="reverb-npnr-right">
        <div class="reverb-npnr-header">{{ header }}</div>
        <div class="reverb-npnr-body">{{ body }}</div>
        <div class="reverb-npnr-bottom">
            <span class="reverb-npnr-{{ read }}"></span>
            {{ created }}
        </div>
    </div>
</div>