<div class="reverb-notification-page">
	<div class="reverb-notification-page-left">
		<div class="reverb-filter-title">
			{{ wfMessage('filter-by-type') }}
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" class="wds-icon wds-icon-small">
				<path d="M12 4h4a1 1 0 1 0 0-2h-4a1 1 0 1 0 0 2M2 4h5a1 1 0 1 0 2 0V2a1 1 0 1 0-2 0H2a1 1 0 1 0 0 2m14 10h-4a1 1 0 1 0 0 2h4a1 1 0 1 0 0-2m0-7a1 1 0 0 0-1 1H2a1 1 0 1 0 0 2h13a1 1 0 1 0 2 0V8a1 1 0 0 0-1-1m-8 6a1 1 0 0 0-1 1H2a1 1 0 1 0 0 2h5a1 1 0 1 0 2 0v-2a1 1 0 0 0-1-1"/>
			</svg>
		</div>

		<div class="reverb-filter-row">
			<input type="checkbox" id="filter_all" class="reverb-filter-checkbox" checked="checked">
			<label for="filter_all" class="reverb-filter-label">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" class="wds-icon wds-icon-small reverb-filter-checkbox--unchecked">
					<path d="M3 15h12V3H3v12zm13 2H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1z"/>
				</svg>
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" class="wds-icon-small reverb-filter-checkbox--checked">
					<path id="check-box-small" fill-rule="evenodd" d="M3 15h12V3H3v12zM16 1H2a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM7.293 11.707a.997.997 0 0 0 1.414 0l4-4a.999.999 0 1 0-1.414-1.414L8 9.586 6.707 8.293a.999.999 0 1 0-1.414 1.414l2 2z"/>
				</svg>
				{{ wfMessage('special-sidebar-all') }}
			</label>
		</div>

		{% for group, types in groups %}
			<div class="reverb-filter-row">
				<input type="checkbox" id="filter_{{ group }}" data-types="{{ types|join(',') }}" class="reverb-filter-checkbox">
				<label for="filter_{{ group }}" class="reverb-filter-label">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" class="wds-icon wds-icon-small reverb-filter-checkbox--unchecked">
						<path d="M3 15h12V3H3v12zm13 2H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1z"/>
					</svg>
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" class="wds-icon-small reverb-filter-checkbox--checked">
						<path id="check-box-small" fill-rule="evenodd" d="M3 15h12V3H3v12zM16 1H2a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM7.293 11.707a.997.997 0 0 0 1.414 0l4-4a.999.999 0 1 0-1.414-1.414L8 9.586 6.707 8.293a.999.999 0 1 0-1.414 1.414l2 2z"/>
					</svg>
					{{ wfMessage('special-sidebar-' ~ group, '50') }}
				</label>
			</div>
		{% endfor %}
	</div>
	<div class="reverb-notification-page-right">
		<div class="reverb-button-bar">
			<div class="wds-tabs__wrapper">
				<ul class="wds-tabs">
					<li class="wds-tabs__tab wds-is-current">
						<span class="wds-tabs__tab-label" id="reverb-ru-all">{{ wfMessage('special-button-all', '0') }}</span>
					</li>
					<li class="wds-tabs__tab">
						<span class="wds-tabs__tab-label" id="reverb-ru-read">{{ wfMessage('special-button-read', '0') }}</span>
					</li>
					<li class="wds-tabs__tab">
						<span class="wds-tabs__tab-label" id="reverb-ru-unread">{{ wfMessage('special-button-unread', '0') }}</span>
					</li>
				</ul>
			</div>
			<div class="wds-button wds-is-text" id="reverb-mark-all-read">{{ wfMessage('special-button-mark-all-read') }}</div>
		</div>
		<div class="reverb-notification-page-notifications">
			<!-- Notifications will be filled here by glorius JAVASCRIPT -->
		</div>
		<div class="reverb-notification-page-paging reverb-npp-bottom"></div>
	</div>
</div>
